{% extends 'Lab1/base.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Вопрос</th>
        <th scope="col">Ответ</th>
        <th scope="col">Правильных ответов</th>
        <th scope="col">Неправильных ответов</th>
      </tr>
    </thead>
    <tbody>
    {% for question in all_questions %}
          <tr>
            <th>{{ question.question_text }}</th>
            <td>{{ question.question_answer }}</td>
            <td>{{ question.right_answers_counter }}</td>
            <td>{{ question.wrong_answers_counter }}</td>
          </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}